# Environment
NODE_ENV=development

# Database
SQLITE_FILE_PATH=local.sqlite

# Logging
LOGGER_LEVEL=trace
FILE_TRANSPORT_LEVEL=trace
FILE_TRANSPORT_DESTINATION=
PRETTY_TRANSPORT_LEVEL=info

# AI
GOOGLE_GENERATIVE_AI_API_KEY=
